.ui-widget {  
	font-size: 12px !important;  
}  
body {
	background: url("#{resource['images/bg.png']}");	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.login-panel {
	width: 280px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -200px;
}
.logo-text {
	font-size: 40px;	
	float: left;
	color: white;
	position: absolute;
	top: 30px;
	left: 140px;
	text-shadow: 1px 1px 2px #000;
}
.logo {
	width: 89px;
	height: 84px;
	background: url("#{resource['images/sozo-logo-tiny.png']}");
}
.logo-inside-text{
	font-size: 26px;	
	text-weight: bold;
	color: white;
	top: 30px;
	text-align: center;
	line-height: 60px;
	text-shadow: 1px 1px 2px #000;
}

.biglogo {
	width: 201px;
	height: 189px;
	background: url("#{resource['images/sozo-logo.png']}");
	margin: 0 auto;
	margin-top: 50px;
}

.biglogo-inside-text{
	font-size: 58px;	
	text-weight: bold;
	color: white;
	text-align: center;
	line-height: 130px;
	text-shadow: 3px 3px 4px #000;
}





.panel-margin {
	margin-bottom:20px
}